/*Loading spinner*/
html,
body {
    height: 100%;
  }
  
      .bg_loader
      {
        position: fixed;
        background-color: white;
         width:100%;
        height:100%;
        animation: vanish 3s;
        animation-fill-mode: forwards;
        z-index: 1;
        opacity: 0.9;
        
      }
      
  
      @keyframes vanish
      {
        0%{ transform: scale(1); }

        100%{ transform: scale(0); }
    }
      
      .loader
      {
      border-top: 10px solid #9356DC;
      border-bottom: 10px solid #FF79DA ;
      border-radius: 50%;
      width: 100px;
      height: 100px;
      z-index : 2;
      animation:  spin 1s linear infinite;
      animation-duration: 3s;
      margin: auto;
      position: absolute;
      top:0;
      bottom:0;
      left:0;
      right:0;
      }
  
  
      @keyframes spin
      {
      0%{transform: rotate(0deg)}
      
      100%{transform: rotate(360deg)}
      }

/*Coeurs*/

   .heart
	{
        padding-top: 0.5em;
        display: flex;
    }

    

    .empty
    {
      
        position: absolute;
		color: black;
		opacity: 1;
	}

.empty:hover
{
	animation: below 1s;
}



        .full
        {	
			z-index: 1;
            color:transparent;
            background-image: linear-gradient(#FF79DA , #9356DC );
			background-clip:text;
			-webkit-background-clip:text;
			opacity: 0
        }

.full:hover
{
	animation: above 1s;
}

        @keyframes above
        {
        from{opacity: 0}
        to{opacity: 1}
        }

		@keyframes below
		{
        from{opacity: 1}
        to{opacity: 0}
        }




/*Apparition fiches*/    
    

    @keyframes appear
    {
        0%{transform:translateY(50%);
            opacity: 0;
        }
       

        100%{transform: translateY(0);
            opacity:1
        }
    }

    /*délais*/
    .delay_1
    {
        animation-delay: 0.2s;
    }

    .delay_2
    {
        animation-delay: 0.4s;
    }

    .delay_3
    {
        animation-delay: 0.6s;
    }



/*animation slide*/



@keyframes slide
{
  0% {margin-left:110%}
  

  
  100%{margin-left:90%}
}



@keyframes slidein
{
  0% {margin-left:90%}
  

  
  100%{margin-left:70%}
}


@keyframes spin
{to {transform: rotate(360deg)}}

