/*Général*/
    body
    {
        width: 100%;
    }

    h1
    {
        font-size: 2.5em;
    }

    h2
    {
        font-size: 2.2em;
    }

    h3
    {
        font-size: 1.8em;
    }

    h4
    {
        font-size: 1.6em;
    }
    
    h5
    {
        font-size: 2em;
    }

    h6
    {
        font-size: 1.8em;
    }

/*header*/

    #titre
    {
        height: 6em;
    }   

    #logo
    {
        height: 3em;
        padding-top: 1.5em;
        padding-left: 30%;
    }

    header i
    {
        font-size: 2em;
        padding-left: 2em;
        padding-top: 1em;
    }

    .card
    {
        height: 30em;

    }

/*Main*/

    main
    {
        height: 160em; 
    }

    .name i
    {
        font-size: 2.2em;
    }

    /*choix menu*/

        /*Entrées*/

        .entree
        {
            height: 40em;
        }

		.plus
		{
			height: 45em
		}

        .entree h2
        {
            border-bottom: #99E2D0 solid 5px;
        }

        .choice
        {
            height: 8em;
        }

        .choice p
        {
            font-size: 1.8em;
            margin-top:5%;
        }

        .tcheck i
		{
		  color:white;
          font-size: 1.5em;
		}


        /*Plats*/

        .meal
        {
            height: 40em;
        }

        .meal h2
        {
            border-bottom: #99E2D0 solid 5px;
        }

        /*Desserts*/

        .dessert
        {
            height: 40em;
        }

        .dessert h2
        {
            border-bottom: #99E2D0 solid 5px;
        }

    /*Bouton*/    
        .button
        {
            height: 4em;
            font-size: 2em;
            margin-top: 4em;
            border-radius: 150px;
        }

    /*Footer*/

    footer
    {
        height: 35em;
        padding-left: 10%;
    }

    footer i
    {
        font-size: 2em;
    }